.btn-purple {
  background-color: #8b5dd0 !important;
  border-color: #8b5dd0 !important;
}

.btn-outline-purple:hover,
.btn-purple:hover {
  transition: .5s;
  background-color: transparent;
  box-shadow: rgba(114, 46, 240, 0.4) 0px 5px,
    rgba(114, 46, 240, 0.3) 0px 10px,
    rgba(114, 46, 240, 0.2) 0px 15px,
    rgba(114, 46, 240, 0.1) 0px 20px,
    rgba(114, 46, 240, 0.05) 0px 25px;
}

.nav-item:hover {
  transition: .5s;
  background-color: transparent;
  box-shadow: rgba(114, 46, 240, 0.4) 0px 5px,
    rgba(114, 46, 240, 0.3) 0px 10px,
    rgba(114, 46, 240, 0.2) 0px 10px,
    rgba(114, 46, 240, 0.1) 0px 10px,
    rgba(114, 46, 240, 0.05) 0px 10px;
}

.btn-outline-purple {
  border-color: #8b5dd0 !important;
  color: #fff;
}

.active-nav-item {
  border-bottom: 2px solid #8b5dd0;
}

.ex-tb {
  background-size: 100% 200%;
  background-image: linear-gradient(to top, #8b5dd0 50%, transparent 50%);
  transition:
    background-position .2s ease-in-out,
    color .2s ease-in-out;
}

.ex-tb:hover,
.ex-tb:focus {
  background-position: 0 100%;
}

.nav-shadow {
  transition: .5s;
  box-shadow: rgba(197, 5, 255, 0.562) 1.95px 1.95px 2.6px;
}